<nav class="nav-banner">
  <a class="nav-btn" href="/">Home</a>
  <% if logged_in? %>
    <a class="nav-btn" href= <%= "/users/#{current_user.id}" %> ><%= "#{current_user.name}'s Profile" %></a>
    <a class="nav-btn" href="/messages">Inbox</a>
    <a class="nav-btn" href="/properties/new">Post a new property</a>
    <%= link_to 'Log out', '/logout', { method: :delete }  %>
  <% else %>
    <a class="nav-btn" href="/login">Login</a>
    <a class="nav-btn" href="/users/new">Sign Up</a>
  <% end %>
  </span>
</nav>
